<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbd.dao.DataPlatformDealDao">

  <insert id="insertConsumeNeedData">
    INSERT INTO ${tableName}
    <foreach collection="fieldNames" item="fieldName" open="(" close=")" separator=",">
      ${fieldName}
    </foreach>
    VALUES
    <foreach collection="values" item="value" open="(" close=")" separator=",">
      #{value}
    </foreach>
  </insert>
  
  <insert id="insertConsumeAllData">
    INSERT INTO bbd_etl_consume_data
    (consume_data,consume_flage,gmt_create,table_id,company_name)
    VALUES
    (#{value},1,NOW(),#{tableName},#{companyName})
  </insert>


  <select id="selectCompanyId" resultType="String">
    select nbxh as companyId from bbd_company_info where company_name = #{companyName}
  </select>
  
  <select id="selectConsumeAllData" resultType="com.bbd.domain.ConsumeDataInfo">
    select 
    table_id as tabId,company_name as companyName,consume_data as consumeData 
    from bbd_etl_consume_data where table_id='dishonesty' limit #{pageNo},#{pageLast}
  </select> 
  
</mapper>